
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="font-size: 50px; font-family: 'Times New Roman'">Brave System</h2>
<hr>
<h1 align="center" style="font-size: 80px; font-family: 'Times New Roman'">Bem-vindo</h1>


<div class="col-sm-12">
    @*<div class="col-sm-12 col-lg-3">
        @{Html.RenderAction("CriarPartial", "Visita");}
    </div>
    <div class="col-sm-12 col-lg-3">
        @{Html.RenderAction("CriarPartial", "Visita");}
    </div>
    <div class="col-sm-12 col-lg-3">
        @{Html.RenderAction("CriarPartial", "Visita");}
    </div>
    <div class="col-sm-12 col-lg-3">
        @{Html.RenderAction("CriarPartial", "Visita");}
    </div>*@
</div>
